@model Bordfodbold.Models.Kamp

@{
    ViewBag.Title = "GemKamp";
}

<h2>GemKamp</h2>

<script type="text/javascript">
        function onLoad() {
            document.getElementById("spiller1navn").value = @Model.Spiller1;
            document.getElementById("spiller2navn").value = @Model.Spiller2;
            document.getElementById("spiller3navn").value = @Model.Spiller3;
            document.getElementById("spiller4navn").value = @Model.Spiller4;
            document.getElementById("hold1maal").value = @Model.rødmål;
            document.getElementById("hold2maal").value = @Model.blåmål;
            document.getElementById("datotid").value = @Model.Kamp_Dato;
            
        }
</script>
<body onload="onLoad()">
    <div>
        @using (Html.BeginForm("AfslutKamp", "Home")) {

            <table>
                <tr>
                    <th>Hold 1</th>
                    <th>Dato</th>
                    <th>Hold 2</th>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(n => n.Spiller1, new { @id = "spiller1navn", @class = "TextBoxAsLabel", @readonly = "readonly" })</td>
                    <td></td>
                    <td>@Html.TextBoxFor(n => n.Spiller3, new { @id = "spiller3navn", @class = "TextBoxAsLabel", @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(n => n.Spiller2, new { @id = "spiller2navn", @class = "TextBoxAsLabel", @readonly = "readonly" })</td>
                    <td></td>
                    <td>@Html.TextBoxFor(n => n.Spiller4, new { @id = "spiller4navn", @class = "TextBoxAsLabel", @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td align="right">@Html.TextBoxFor(n => n.rødmål, new { @id = "hold1maal", @class = "TextBoxAsLabel", @readonly = "readonly" })</td>
                    <td align="center"><strong>-</strong></td>
                    <td>@Html.TextBoxFor(n => n.blåmål, new { @id = "hold2maal", @class = "TextBoxAsLabel", @readonly = "readonly" })</td>
                    @Html.HiddenFor(n => n.Kamp_Dato, new { @id = "datotid" })
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Afslut" /></td>
                    <td></td>
                </tr>
            </table>

        }
    </div>

</body>
