@using Bordfodbold.Models
@model IEnumerable<Spiller>
@{
    ViewBag.Title = "GameScreen";
}

<h2>GameScreen</h2>

@using (Html.BeginForm()) {

    <p>Name: @Html.TextBox("Spiller_Name")</p>
    <p>Mål: @Html.TextBox("Spiller_Maal")</p>
    <p>Kampe: @Html.TextBox("Spiller_Kampe")</p>
    <input type="submit" value="Search" style="border-color:red" />
}

<div class="panel-body">
    <table>
        <tr>
            <th style="border: 2px solid; border-color: darkblue; text-align:center; padding:5px 20px 5px 20px"><strong>Name</strong></th>
            <th style="border: 2px solid; border-color: darkblue; text-align:center; padding:5px 20px 5px 20px"><strong>Mål</strong></th>
            <th style="border: 2px solid; border-color: darkblue; text-align:center; padding:5px 20px 5px 20px"><strong>Kampe</strong></th>
        </tr>

        @foreach (Spiller s in Model) {
            <tr>
                <td> @s.Spiller_Name</td>
                <td> @s.Spiller_Maal</td>
                <td> @s.Spiller_Kampe</td>
            </tr>

        }
    </table>
</div>